@font-face {
    font-family: "BadScriptRegular";
    src: url("../fonts/BadScriptRegular.eot");
    src: url("../fonts/BadScriptRegular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/BadScriptRegular.woff") format("woff"), url("../fonts/BadScriptRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 1190px) {
        max-width: 940px;
    }

    @media (max-width: 960px) {
        max-width: 740px;
    }

    @media (max-width: 760px) {
        max-width: 450px;
    }

    @media (max-width: 470px) {
        max-width: 290px;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.center {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;

    &-footer {
        max-width: 1170px;
        margin: 0 auto;
    }

    @media (max-width: 1190px) {
        max-width: 940px;
    }

    @media (max-width: 960px) {
        max-width: 740px;
    }

    @media (max-width: 760px) {
        max-width: 100%;
        padding: 0 15px;
    }
}

//Header All In One
// Pop-up inside
.header {
    background: #373c4f;
    width: 100%;
    height: 100px;
    position: relative;
    .item-btn-header {
        font-size: 19px;
    }
    // Все ссылки в шапке
    a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            color: #4ca7b0;

            path {
                fill: #4ca7b0;
            }
        }
    }

    // Все svg картинки
    svg:hover {
        transition: all.3s;

        path {
            fill: #4ca7b0;
        }
    }

    // Вся навигация в шапке
    // Pop-up inside
    &-nav {
        height: inherit;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: stretch;

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }

        &-dawn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // margin-bottom: 12px;
        }
    }
}

.phone-href {
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

    svg {
        margin-right: 15px;
    }

    @media (max-width: 425px) {
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;

        svg {
            margin-right: 5px;
            max-width: 15px;
        }
    }
}

.city-href {
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;

    svg {
        margin-right: 15px;
    }
}

.burger {
    &-menu {
        display: flex;
    }

    &-span {
        background: #c4c4c4;
        width: 25px;
        height: 3px;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: 0;
            top: 5px;
            z-index: 2;
            background: #c4c4c4;
        }

        &::after {
            content: "";
            width: 25px;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 5px;
            z-index: 2;
            background: #c4c4c4;
        }
    }
}

.burger-menu:hover .burger-span,
.burger-menu:hover .burger-span::before,
.burger-menu:hover .burger-span::after {
    background-color: #4ca7b0;
}

// Pop-up inside
.city {
    position: relative;

    .drop-city {
        display: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        color: #fff;
        width: 270px;
        min-height: 407px;
        background: #373c4f;
        padding: 26px 30px;
        z-index: 10;

        ul {
            list-style-type: none;

            li {
                margin: 10px 0;

                &:hover {
                    color: #4ca7b0;
                }
            }
        }

        input {
            width: 210px;
            height: 50px;
            background: #eeeff0;
            border-radius: 3px;
            border: none;
            padding: 17px;
            margin: 16px 0;
        }

        button {
            background: none;
            border: none;
            position: absolute;
            top: 3px;
            right: 4px;
            transition: all 0.3s;
            cursor: pointer;

            &:active {
                transform: scale(0.9);
            }
        }

        @media (max-width: 1600px) {
            position: absolute;
            right: 30px;
        }

        @media (max-width: 760px) {
            top: 100px;
        }


        &.mobile.activ-city {
            top: 50px;
        }
    }

    .drop-popup {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        top: -20px;
        right: 170px;
        margin: 10px 0;
        width: 400px;
        height: 50px;
        background: #373c4f;
        color: #fff;
        border-radius: 3px;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 10;

        button {
            border: none;
            background: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 22px;
            color: #fff;
            cursor: pointer;

            &:hover {
                color: #4ca7b0;
            }
        }

        &::after {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 2px;
            background: #373c4f;
            position: absolute;
            right: -10px;
            top: 16px;
            transform: rotate(45deg);
            border: 1px solid #fff;
            z-index: 1;
        }

        &::before {
            content: "";
            width: 18px;
            height: 30px;
            border-radius: 2px;
            background: #373c4f;
            position: absolute;
            right: 0px;
            top: 10px;
            z-index: 2;
        }

        @media (max-width: 660px) {
            top: 40px;
            right: 0;

            &::after {
                content: "";
                width: 18px;
                height: 18px;
                border-radius: 2px;
                background: #373c4f;
                position: absolute;
                right: 2px;
                top: -10px;
                transform: rotate(45deg);
                border: 1px solid #fff;
                z-index: 1;
            }

            &::before {
                content: "";
                width: 30px;
                height: 20px;
                border-radius: 2px;
                background: #373c4f;
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 2;
            }
        }

        @media (max-width: 550px) {
            font-size: 14px;
        }

        @media (max-width: 420px) {
            width: 280px;

            button {
                font-size: 14px;
            }
        }
    }

    .activ-pop {
        visibility: visible;
        opacity: 1;
    }

    .activ-city {
        top: 80px;

        &.mobile {
            top: 0px;
        }

        display: block;
        animation: show ease 0.3s forwards;

        @keyframes show {
            to {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

// Скрыты все мобильные менюшки
.phone.mobile,
.city.mobile,
.burger-menu.mobile {
    display: none;
}

@media (max-width: 960px) {

    .shares,
    .popular,
    .phone.mobile,
    .city.mobile,
    .burger-menu.mobile {
        display: none;
    }
}

@media (max-width: 550px) {
    //скрыты

    .shares,
    .tur,
    .popular,
    .turests,
    .about-company,
    .contacts,
    .phone-mobile {
        display: none;
    }

    .city {
        display: none;

        &.mobile {
            display: flex;
        }
    }

    .burger-menu,
    .phone {
        display: flex;

        &.mobile {
            display: none;
        }
    }
}

@media (max-width: 350px) {

    // Скрыты
    .phone,
    .shares,
    .tur,
    .popular,
    .turests,
    .about-company,
    .contacts,
    .burger-menu,
    .phone-mobile {
        display: none;

        &.mobile {
            display: flex;

            svg {
                width: 48px;
                height: 25px;
            }
        }
    }

    .city-href,
    .phone-href {
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 15px;
        margin-top: 10px;

        &:hover {
            &svg path {
                fill: #4ca7b0;
            }
        }

        svg {
            max-width: 15px;

            path {
                transition: all 0.3s;
            }
        }

        .user-city {
            font-size: 14px;
        }
    }
}


// Выподающее меню
.masc {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0;
    background: rgba($color: #373c4f, $alpha: 0.8);
    z-index: 1;
}

.burger-menu-drop,
.item5-drop,
.tur-drop,
.popular-drop,
.turests-drop,
.about-company-drop,
.burger-menu-drop-mobile {
    display: none;
}

.nav-item-link {
    margin: 5px 0;
    font-size: 18px;
}

.burger-menu-drop-bottom {
    display: flex;
    justify-content: space-between;
    .burger-menu-drop-bottom-item {
        display: flex;
        flex-direction: column;
        width: auto;
        .burger-menu-drop-bottom-header {
            font-weight: bold;
            font-size: 19px;
            line-height: 36px;
            text-transform: uppercase;
            // width: 90%;
        }
    }
    .burger-menu-drop-bottom-item-2 {
        display: flex;
        flex-direction: column;
        width: 11%;
        .burger-menu-drop-bottom-header-2 {
            font-weight: bold;
            font-size: 19px;
            line-height: 36px;
            text-transform: uppercase;
            // width: 90%;
        }
        .nav-item-link2 {
            margin: 5px 0;
        }
    }
}

.activeat {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    color: #fff;
    z-index: 2;
    min-width: 300px;
    width: 100%;
    padding-top: 50px;
}

// Мобильный бургер
.burger-menu-drop-mobile.activeat {
    top: 100px;
    right: 0;
    min-width: 100vw;
    padding: 20px;
}

// Не мобильный бургер
.burger-menu-drop.activeat {
    top: 80px;
    left: 0;
}

.turests-drop.activeat {
    top: 80px;
}

.tur-drop.activeat {
    top: 0;
    perspective: 1000px;

    .tur-link {
        transition: all 0.3s;
        font-size: 16px;

        &:hover {
            transform: translateZ(10px);

            img {
                box-shadow: 1px 1px 10px #fff;
            }
        }
    }
}

.tur-drop-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;
    margin-left: -11px;
    .tur-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 10px;
        width: 200px;

        img {
            margin-right: 11px;
        }
    }
}

.transform {
    transform: rotate(-180deg);
}

.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5 {
    transition: all 0.3s;
}

// Baner
.baner {
    width: 100%;
    min-height: 300px;
    position: relative;

    &-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &-title {
        font-weight: 500;
        font-size: 60px;
        line-height: 70px;
        color: #373c4f;
        padding-top: 67px;

        @media (max-width: 960px) {
            font-size: 45px;
        }

        @media (max-width: 480px) {
            font-size: 35px;
        }
    }
}

.b-top {
    height: 300px;
    background: url(../img/newsletter_background.png) no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 1000px) {
        background: url(../img/newsletter_background_1000.png) no-repeat;
        background-position: center;
    }

    @media (max-width: 768px) {
        background: url(../img/newsletter_background_768.png) no-repeat;
        background-position: center;
        height: 200px;
    }

    @media (max-width: 480px) {
        background: url(../img/newsletter_background_480.png) no-repeat;
        background-position: center;
    }

    @media (max-width: 320px) {
        background: url(../img/newsletter_background_320.png) no-repeat;
        background-position: center;
    }
}

.b-top__heading {
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    color: #373c4f;
    padding-top: 67px;

    @media (max-width: 960px) {
        font-size: 45px;
        line-height: 53px;
    }

    @media (max-width: 480px) {
        font-size: 35px;
        line-height: 41px;
    }
}

.b-wrapper {
    background: url(../img/newsletter_background_2.png);
    background-position: center;

    @media (max-width: 1000px) {
        background: url(../img/newsletter_background_2_1000.png);
        background-position: center;
    }

    @media (max-width: 768px) {
        background: url(../img/newsletter_background_2_768.png);
        background-position: center;
    }

    @media (max-width: 480px) {
        background: url(../img/newsletter_background_2_480.png);
        background-position: center;
    }

    @media (max-width: 320px) {
        background: url(../img/newsletter_background_2_320.png);
        background-position: center;
    }
}

.b-breadcrumbs {
    font-size: 16px;
    line-height: 19px;
    color: #373c4f;
    padding-top: 12px;
    margin-bottom: 21px;
}

.b-breadcrumbs__link {
    font-size: 16px;
    line-height: 19px;
    color: rgba(55, 60, 79, 0.7);
    text-decoration: none;
}

.b-footer {
    background: #373c4f;

    .container {
        height: 309px;
        padding: 60px 0 30px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        @media (max-width: 760px) {
            justify-content: center;
        }
    }
}

.b-footer__logo-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 960px) {
        width: 274px;
    }
}

.b-footer__tagline {
    font-family: "BadScriptRegular";
    font-size: 20px;
    line-height: 39px;
    color: #ffffff;
}

.b-footer__social-box {
    width: 275px;
    display: flex;
    justify-content: space-between;
}

.b-footer__links-760 {
    display: none;

    @media (max-width: 760px) {
        display: flex;
        flex-direction: column;
        padding: 16px 0 20px;
    }
}

.b-footer__copy {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}

.b-footer__column-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 960px) {
        max-width: 468px;
    }

    @media (max-width: 760px) {
        display: none;
    }
}

.b-footer__text-box {
    display: flex;
    justify-content: space-between;
    width: 776px;

    @media (max-width: 1190px) {
        width: 636px;
    }

    @media (max-width: 960px) {
        width: 468px;
    }
}

.b-footer__text-column {
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }

    @media (max-width: 960px) {
        width: 162px;
    }
}

.b-footer__text-column:first-child {
    @media (max-width: 960px) {
        padding-left: 114px;
    }
}

.b-footer__text-column_news {
    @media (max-width: 960px) {
        display: none;
    }
}

.b-footer__text-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    padding-top: 4px;
}

.b-footer__text-button {
    border: 2px solid #4ca7b0;
    box-sizing: border-box;
    border-radius: 3px;
    width: 200px;
    height: 55px;
    font-size: 20px;
    line-height: 23px;
    color: #4ca7b0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 22px;
}

.b-footer__links {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.b-footer__link-botom {
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.display_block {
    display: block;
}

.transform {
    transform: rotate(0.5turn);
}